<h1 class="table-heading">Expenses <%=@start_date%> to <%= @end_date %></h1>

    <aside>
    <h2 class="spent-heading">Spent <% if @criteria != "all"%>On <%=@criteria.capitalize%><%end%> This Period: £<%=@period_total%></h2>
    </aside>

    <div class="filter">
        <form class ="form" method="post" action="/expenses/dates">
        <label for="start-date">Start date:</label>
        <input 
        type="date" 
        name="start-date" 
        value=<%=@start_date%>
        />

        <label for="end-date">End date:</label>
        <input 
        type="date" 
        name="end-date" 
        value=<%=@end_date%>
        />

        <label for="category">Category</label>
        <select name="criteria" id="category">
            <option value=<%=@criteria%>><%=@criteria.capitalize%></option>
            <% @tags.each do |tag| unless tag.active == 0 || tag.category == @criteria %>
            <option value=<%=tag.category%>><%= tag.category %></option>
            <% end %>
            <% end %>
            <% if @criteria !="all"%>
            <option value="all">All</option>
            <% end %>
        </select>
        
        <input type="submit" value="Select"/>
        </form>
    </div>

    <table>
        <tr class="column-headings">
            <th>Merchant</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        <% @expenses.each do |expense| %>
        <tr class="table-rows">
            <td><%=Merchant.find_by_id(expense.merchant_id).name%></td>
            <td style="background-color: <%=Tag.find_by_id(expense.tag_id).colour%>; border-radius: 10px; color: white; text-align: center;"><%=Tag.find_by_id(expense.tag_id).category%></td>
            <td>£<%='%.2f' % (expense.amount.to_f / 100)%></td>
            <td><%= expense.date %></td>
            <td><button><a href="/expenses/<%= expense.id %>/edit">Edit</a></button>
        <% end %>
        </tr>
    </table>

    <div>
        <button class="bigger-button"><a class="back-to-top-button" href="#top">Back to top</a></button>
    </div>