<h1>Expenses <%=@start_date%> to <%= @end_date %></h1>

    <aside>
    <h2>Spent This Period: £<%=@period_total%></h2>
    </aside>

    <div>
        <form method="post" action="/expenses/dates">
        <label for="start-date">Start date:</label>
        <input 
        type="date" 
        name="start-date" 
        value=<%=@start_date%>
        />
        <label for="end-date">End date:</label>
        <input 
        type="date" 
        name="end-date" 
        value=<%=@end_date%>
        />
        <input type="submit" value="Select dates"/>
        </form>
    </div>

    <table>
        <tr>
            <th>Merchant</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        <% @expenses.each do |expense| %>
        <tr>
            <td><%=Merchant.find_by_id(expense.merchant_id).name%></td>
            <td><%=Tag.find_by_id(expense.tag_id).category%></td>
            <td>£<%=(expense.amount.to_f / 100).round(2)%></td>
            <td><%= expense.date %></td>
            <td><button><a href="/expenses/<%= expense.id %>/edit">Edit</a></button>
        <% end %>
        </tr>
    </table>