<h1>Expenses</h1>

    <aside>
    <h2>Spent This Month: £<%=@month_total%></h2>
    </aside>



    <table>
        <tr>
            <th>Merchant</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        <% @expenses.each do |expense| %>
        <tr>
            <td><%=Merchant.find_by_id(expense.merchant_id).name%></td>
            <td><%=Tag.find_by_id(expense.tag_id).category%></td>
            <td>£<%=(expense.amount.to_f / 100).round(2)%></td>
            <td><%= expense.date %></td>
            <td><button><a href="/expenses/<%= expense.id %>/edit">Edit</a></button>
        <% end %>
        </tr>
    </table>