<h1>Expenses</h1>

<aside>
<h2>Total Spent: £<%=Transaction.total_spent(@transactions)%>
</aside>

    <table>
        <tr>
            <th>Merchant</th>
            <th>Category</th>
            <th>Amount</th>
        </tr>
        <% @transactions.each do |transaction| %>
        <tr>
            <td><%=Merchant.find_by_id(transaction.merchant_id).name%></td>
            <td><%=Tag.find_by_id(transaction.tag_id).category%></td>
            <td>£<%=(transaction.amount.to_f / 100).round(2)%></td>
            <td><button><a href="/expenses/<%= transaction.id %>/edit-expense">Edit</a></button>
        <% end %>
        </tr>